<h1>Editing Product</h1>
<%= form_with(model: @category) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>


    <div class="actions">
      <%= form.submit %>
    </div>
  </div>

<!--  <div class="button">-->

<!--  </div>-->


  <%= link_to 'Back', products_path %>
  <%= link_to 'Delete', category_path(@category), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
