<h1><%= @product.title %></h1>

<%= form_with(model: @order) do |form| %>
  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <div class="hidden-field">
    <div class="field">
      <%= form.text_field :product_id, value: @product.id, type: "hidden" %>
    </div>

    <div class="field">
      <%= form.text_field :product_name, value: @product.title, type: "hidden" %>
    </div>

    <div class="field">
      <%= form.text_field :amount, value: 1, type: "hidden" %>
    </div>
  </div>
<% end %>