<%= form_with(model: @order) do |form| %>
  <div class="field">
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>