<%= stylesheet_link_tag "form.css" %>

<h1>Order Detail</h1>
<p id="notice"><%= notice %></p>
<div class="container-form">
  <p>
    <strong>Product Name:</strong>
    <%= @order.product_name %>
  </p>
  <p>
    <strong>Amount:</strong>
    <%= @order.amount %>
  </p>
  <p>
    <strong>Customer Name:</strong>
    <%= @order.customer_name %>
  </p>

  <p>
    <strong>Customer Address:</strong>
    <%= @order.address %>
  </p>


</div>


<div id="order-show-bot-menu">
  <div class="button">
    <%= link_to 'Back to Homepage', products_path, class: "btn btn-info" %>
  </div>
  <div class="button">
    <% if admin_signed_in? %>
      <%= link_to 'All Orders', orders_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>