<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div>
    <label for="category">Choose category</label>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>

  <div>
    <label for="status">Status</label>
    <%= form.select(:status, options_for_select(Product.statuses.keys, :selected => @product.status)) %>
  </div>

  <div>
    <label for="cover_image">Choose cover image</label>
    <%= form.file_field :cover_image %>
    <div>
      <% if @product.cover_image.attached? %>
        <%= image_tag @product.cover_image, height: '200px' %>
        <div>
          <%#= link_to 'Remove', products_remove_image_attachment_path(id: @product.cover_image.id) %>
          <%#= form_tag(products_remove_image_attachment_path) do %>
            <%#= submit_tag(:remove) %>
            <%# end %>
          <a href="<%= products_remove_image_attachment_path %>">remove</a>
        </div>
      <% end %>
    </div>
  </div>


  <br>

  <div>
    <label for="images">Choose images</label>
    <%= form.file_field :images, multiple: true %>
    <div>
      <% if @product.images.attached? %>
        <% @product.images.each do |image| %>
          <%= image_tag image, height: '200px' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
