<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div>
    <label for="category">Choose category</label>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>

    <!--    <select name="category" id="category">-->
    <%# Category.all.each do |c| %>
    <!--       <option value="<%#= c.id %>"><%#= c.name %></option>-->
    <%#= form.check_box(c.name, :value => c.id) %>
    <%# end %>
    <!--    </select>-->
  </div>

  <div>

    <%#= form.select(:status, options_for_select(Product.statuses.map {|k, v| [k.humanize.capitalize, v]}))%>
    <%= form.select(:status, options_for_select(Product.statuses.keys))%>


<!--    <label for="status">Choose status</label>-->
<!--    <select name="status" id="status">-->
<!--      <option value="draft">draft</option>-->
<!--      <option value="published">published</option>-->
<!--      <option value="archived">archived</option>-->
<!--    </select>-->

    <%#= form.radio_button(:status, Product.statuses[:draft]) %>
    <%#= form.label(:status, "draft") %>
    <%#= form.radio_button(:status, Product.statuses[:archived]) %>
    <%#= form.label(:status, "archived") %>

  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
