<%= stylesheet_link_tag "index.css" %>

<p id="notice"><%= notice %></p>

<nav class="navbar sticky-top navbar-light" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Products</a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to 'New Product', new_product_path, class: "create-product" %>
          </li>
          <li class="nav-item">
            <%= link_to 'New Category', new_category_path, class: "create-category" %>
          </li>
          <li>
            <%= link_to 'Download CSV', products_path(format: :csv) %>
          </li>
          <li>
            <%= link_to 'All Orders', orders_path %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete, class: "sign-out" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign In', new_admin_session_path %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>

<body>

<div class="wrapper">
  <% @products.each do |product| %>
    <div class="row" id="row">
      <div class="col" id="image-column">
        <% if product.cover_image.attached? %>
          <%= image_tag(product.cover_image) %>
        <% end %>
      </div>
      <div class="col" id="product-info">
        <div class="product-title"><%= product.title %></div>
        <div class="product-description"><%= product.description %></div>
        <div class="action">
          <a class="fas fa-eye" href=<%= product_path(product) %>></a>
          <% if admin_signed_in? %>
            <a class="fas fa-pen" href=<%= edit_product_path(product) %>></a>
            <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>




<div class="bottom-menu">
  <% if admin_signed_in? %>
    <%= form_tag(products_csv_upload_path, multipart: true) do %>
      <%= file_field_tag(:csv_file) %>
      <%= submit_tag(:upload) %>
    <% end %>
  <% end %>
  <div class="paginate">
    <%= paginate @products%>
  </div>
</div>
</body>
