<%= stylesheet_link_tag "show_product.css" %>

<p id="notice"><%= notice %></p>

<body>

<div class="content">
  <div class="container">
    <div class="pic">
      <div class="cover-image">
        <% if @product.cover_image.attached? %>
          <%= image_tag @product.cover_image %>
        <% end %>
      </div>
    </div>
    <div class="product-info" id="product-info">
      <div class="title"><%= @product.title %></div>
      <div class="description">Description: <%= @product.description %></div>
      <div class="status">Status: <%= @product.status %></div>
      <div class="category">Category:
        <% if @product.categories.present? %>
          <% @product.categories.each do |category| %>
            <%= link_to "#{category.name}", category_path(category) %>
          <% end %>
        <% else %>
          <div>
            NA
          </div>
        <% end %>
      </div>
      <div class="stock">Stock: <%= @product.stock %></div>
      <div class="price">Price: <%= @product.price %></div>
      <div>
      </div>
      <div class="images" id="images">
        <% if @product.images.attached? %>
          <% @product.images.each do |image| %>
            <%= image_tag(image, width: '100px') %>
          <% end %>
        <% end %>
      </div>

      <div class="buy-now-button">
        <%= link_to('Buy Now', new_order_path(:product_id => @product.id), class: "btn btn-success") %>
      </div>
    </div>
  </div>
</div>


<div class="menu">
  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_product_path(@product) %> |
  <% end %>
  <%= link_to 'Back', products_path %>
</div>

</body>